@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-2
}
.bg-primary{
    background: #9e30c0;
}
.bg-secondary{
    background: #c6bade;
}
.clor{
    background-color: black;
}